*{
    margin: 0;
    padding: 0;
    max-width: 1600px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    color: white;
}
.main-header-part{
    background-color: #1A0B2E;
}
.header-container{
    max-width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
    align-items: center;
    
}
.header-container .nav-part .menu{
    display: flex;
    gap: 32px;    
}
.header-container .nav-part .menu li{
    list-style-type: none;
}
.header-container .nav-part .menu li a{
    text-decoration: none;
    color: white;
}
.header-container .button-part button{
    display: flex;
    gap: 4px;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 10000px;
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1) 16.531%,rgba(251, 9, 180, 1) 49.819%,rgba(145, 0, 248, 1) 81.648%);
    padding: 12px 16px;
    
}
.header-container .button-part button img{
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1) 16.531%,rgba(251, 9, 180, 1) 49.819%,rgba(145, 0, 248, 1) 81.648%);
}
.humburger{
    position: absolute;
    display: none;
}
.hero-container{
    background-image: url(./assets/hero-bg.png);
    
    background-size: contain;
    max-width: 1600px;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 100px;
}
.circle-div{
    height: 350px;
    width: 350px;
    border-radius: 50%;
    background-image: url(./assets/hero-circle.png);
    background-size: cover;
    margin: auto;
}
.circle-div img{
    margin-top: 80px;
}
.circle-div button{
    padding: 8px 16px; 
    background-color: #57e433;
    color: black;
    border-radius: 100px;
    position: absolute;
    animation: pulse 1.5s infinite;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(40, 167, 69, 0.7);
  }
  70% {
    box-shadow: 0 0 0 15px rgba(40, 167, 69, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(40, 167, 69, 0);
  }
}
.hero-container .hero-content h2{
    font-size: 60px;
    font-weight: 800;
    margin-top: 40px;
}
.hero-container .hero-content p{
    margin-top: 8px;

}
.hero-button{
    margin-top: 25px;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
}
.hero-container .hero-button .hero-button1 button{
    padding: 12px 20px;
    border-radius: 100px;
    justify-content: center;
     display: flex;
    align-items: center;
    gap: 4px;
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1) 16.531%,rgba(251, 9, 180, 1) 49.819%,rgba(145, 0, 248, 1) 81.648%);

}
.hero-container .hero-button .hero-button2 button{
    padding: 12px 20px;
    border-radius: 100px;
    justify-content: center;
     display: flex;
    align-items: center;
    gap: 4px;
    background-color: #ffffff1c;
    border:1px solid #00FF88;
    color: #00FF88;
}
.podcast-container{
    background-color: #1A0B2E;
}
.podcast-container .podcast-contant{
    max-width: 75%;
    margin: auto;
    text-align: center;
    padding: 50px 0;
}
.podcast-container .podcast-contant h2{
    font-size: 48px;
}
.podcast-container .podcast-contant p{
    line-height: 30px;
    font-size: 16px;
    padding: 0 152px;
    margin-top: 20px;
}
.podcast-container .podcast-contant span{
    margin-top: 20px;
    display: block;
}
hr{
    width: 75%;
    margin: auto;
}
.podcast-info-container{
    max-width: 75%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    gap: 80px;  
}
.podcast-info-container .podcast-info{
    text-align: center;
    margin-top: 80px;
}
.podcast-info-container .podcast-info h3{
    margin-bottom: 16px;
    font-size: 48px;
    color: #00FF88;
}
.podcast-info-container .podcast-info p{
    font-style: 16px;
    margin-bottom: 120px;
}
.complex-section{
    background-color: #1A0B2E;
}
.complex-section h1{
    text-align: center;
}
.audio{
    grid-area: headphone;
}
.device{
    grid-area: phone;
}
.location{
    grid-area: locations;
}
.interview{
    grid-area: interviews;
}
.resource{
    grid-area: resources;
}
.common-bg-clr{
    background-color: #2a0f4d;
    border-radius: 10px;
    padding: 40px;
}
.complex-section h1{
    padding-top: 120px;
    font-size: 48px;
    font-style: bold;
}
.main-complex-part{
    padding: 40px 0 120px 0;
    max-width: 75%;
    margin: auto;
    display: grid;
    gap: 30px;
    grid-template-areas: 
    "headphone phone phone"
    "headphone locations locations"
    "interviews interviews resources";
}
.audio{
    padding: 107px 40px;   
}
.audio img, .device img, .location img, .interview img .resource img{
    height: 60px;
    width: 60px;
    margin-bottom: 16px;
}
.audio h3,.device h3,.location h3, .interview h3, .resource h3{
    font-size: 24px;
    font-style: bold;
    margin-bottom: 16px;
}
.audio p, .device p, .location p, .resource p, .interview p{
    font-size: 16px;
    line-height: 24px;
    
}
.episod-container{
    background-color: #1A0B2E;
    padding: 120px 0;
    
}
.episod-container .episod-header{
    max-width: 75%;
    margin: auto;
}
.episod-container .episod-header h2{
    text-align: center;
    margin-bottom: 40px;
    font-size: 48px;
    font-weight: bold;
}
.episod-contant-container{
    max-width: 75%;
    margin: auto;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;

}
.episod-contant-container .episod-contant{
    border-radius: 30px;
    background-color: #250d44;
}
.episod-contant-container .episod-contant h4{
    padding: 24px;
    font-size: 20px;
}
.episod-contant-container .episod-contant p{
    padding: 0 24px 0 24px;
    font-size: 16px;
    font-weight: 100;
    line-height: 24px;
}
.episod-contant-container ul{
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 24px;
    
}
.episod-contant-container ul li{
    list-style-type: none;
    color: #00FF88;
}
.time{
    display: flex;
}
.host-container{
        background-color: #1A0B2E;
        padding: 120px 0;

}
.host-container h2{
    text-align: center;
    max-width: 75%;
    margin: auto;
    font-size: 48px;
}
.host-intro{
    background: #250e44;
    max-width: 75%;
    margin: auto;
    display: flex;
    margin-top: 40px;
    border-radius: 20px;
}
.host-intro .host-pic{
    padding: 40px;
}
.host-contant{
    padding: 45px 40px 45px 15px;
}
.host-contant h1{
    margin-bottom: 16px;
    font-size: 40px;
    font-weight: bold;
}
.host-contant p{
    line-height: 24px;
    margin-bottom: 16px;
    font-size: 16px;
}
.host-contant .icon-part{
    display: flex;
    gap: 10px;
}
.host-contant .icon-part img{
    padding: 10px;
    border-radius: 50%;
    border: 1px solid black;
}
footer{
    background-image: url(./assets/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
footer .footer-contant{
    max-width: 75%;
    margin: auto;
    text-align: center;
}
.footer-logo img{
    margin-top: 120px;
}
.all-icon{
    margin:  30px auto;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.all-icon .icon{
    display: flex;
    gap: 20px;
}
.copyright{
    padding: 50px;
}
@media screen and (max-width:576px) {
    .header-container{
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    }
    .header-container .nav-part .menu{
    display: none;   
    }
    .header-container .button-part button{
        display: none;
    }
    .humburger{
    position: static;
    display: block;  
    }
    .hero-container{
    background-size: calc(100%) calc(90%);
    max-width: 576px;
    padding: 40px 20px;
    }
    .hero-container .hero-content h2{
    font-size: 40px;
    }
    .hero-container .hero-content p{
        padding: 0 60px;
    }
    .circle-div{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-image: url(./assets/hero-circle.png);
    background-size: cover;
    margin: auto;
}
.circle-div img{
    height: auto;
    width: 80px;
}
.circle-div img{
    margin-top: 40px;
}
.podcast-container .podcast-contant{
    max-width: 576px;
    padding: 40px 20px;
}
.podcast-container .podcast-contant h2{
    font-size: 35px;
}
.podcast-container .podcast-contant p{
    line-height: 20px;
    font-size: 12px;
    padding: 0;
    margin-top: 15px;
}
.podcast-container .podcast-contant span{
    margin-top: 10px;
    font-size: 12px;
    display: block;
}
hr{
    width: 90%;
    margin: auto;
}
.podcast-info-container{
    max-width: 90%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    
}
.podcast-info-container .podcast-info{
    text-align: center;
    margin-top: 20px;
}
.podcast-info-container .podcast-info h3{
    margin-bottom: 5px;
    font-size: 35px;
}
.podcast-info-container .podcast-info p{
    margin-bottom: 20px;
}
.complex-section h1{
    padding-top: 20px;
    font-size: 35px;
    font-style: bold;
}
.audio{
    padding: 40px;   
}
.main-complex-part{
    padding: 16px 20px;
    max-width: 90%;
    margin: auto;
    display: grid;
    gap: 15px;
    grid-template-areas: 
    "headphone"
    "phone"
    "locations"
    "interviews"
    "resources";
}
.episod-container{
    background-color: #1A0B2E;
    padding: 0;
    
}
.episod-container .episod-header{
    max-width: 90%;
    margin: auto;
}
.episod-container .episod-header h2{
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
}
.episod-contant-container{
    max-width: 90%;
    margin: auto;
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.host-container{
        padding: 20px 0;
        margin: auto;
}
.host-container h2{
    text-align: center;
    max-width: 90%;
    margin: auto;
    font-size: 32px;
}
.host-intro{
    background: #250e44;
    max-width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border-radius: 20px;
}
.host-intro .host-pic{
    padding: 0px;
    margin: 20px auto;
}
.host-contant{
    padding: 10px 10px ;
    text-align: center;
}
.host-contant h1{
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
}
.host-contant p{
    line-height: 24px;
    margin-bottom: 12px;
    font-size: 12px;
}
.host-contant .icon-part{
    justify-content: center;
}
footer{
    
    background-size: calc(100%) calc(90%);
}
footer .footer-contant{
    max-width: 90%;
}
.footer-logo img{
    margin-top: 80px;
}
.all-icon{
    margin:  30px auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    padding: 0 80px;
    
}
.all-icon .icon{
    display: flex;
    gap: 10px;
    font-size: 12px;
}
.copyright{
    padding: 30px 0 80px 0;
}
.copyright p{
    font-size: 12px;    
}
}