*{
    margin: 0;
    padding: 0;
    max-width: 1600px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    color: white;
}
.main-header-part{
    background-color: #1A0B2E;
}
.header-container{
    max-width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
    align-items: center;
    
}
.header-container .nav-part .menu{
    display: flex;
    gap: 32px;    
}
.header-container .nav-part .menu li{
    list-style-type: none;
}
.header-container .nav-part .menu li a{
    text-decoration: none;
    color: white;
}
.header-container .button-part button{
    display: flex;
    gap: 4px;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 10000px;
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1) 16.531%,rgba(251, 9, 180, 1) 49.819%,rgba(145, 0, 248, 1) 81.648%);
    padding: 12px 16px;
    
}
.header-container .button-part button img{
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1) 16.531%,rgba(251, 9, 180, 1) 49.819%,rgba(145, 0, 248, 1) 81.648%);
}
.humburger{
    position: absolute;
    display: none;
}
.hero-container{
    background-image: url(./assets/hero-bg.png);
    
    background-size: contain;
    max-width: 1600px;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 100px;
}
.circle-div{
    height: 350px;
    width: 350px;
    border-radius: 50%;
    background-image: url(./assets/hero-circle.png);
    background-size: cover;
    margin: auto;
}
.circle-div img{
    margin-top: 80px;
}
.circle-div button{
    padding: 8px 16px; 
    background-color: #57e433;
    color: black;
    border-radius: 100px;
    position: absolute;

}
.hero-container .hero-content h2{
    font-size: 60px;
    font-weight: 800;
    margin-top: 40px;
}
.hero-container .hero-content p{
    margin-top: 8px;

}
.hero-button{
    margin-top: 25px;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
}
.hero-container .hero-button .hero-button1 button{
    padding: 12px 20px;
    border-radius: 100px;
    justify-content: center;
     display: flex;
    align-items: center;
    gap: 4px;
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1) 16.531%,rgba(251, 9, 180, 1) 49.819%,rgba(145, 0, 248, 1) 81.648%);

}
.hero-container .hero-button .hero-button2 button{
    padding: 12px 20px;
    border-radius: 100px;
    justify-content: center;
     display: flex;
    align-items: center;
    gap: 4px;
    background-color: #ffffff1c;
    border:1px solid #00FF88;
    color: #00FF88;
}
.podcast-container{
    background-color: #1A0B2E;
}
.podcast-container .podcast-contant{
    max-width: 75%;
    margin: auto;
    text-align: center;
    padding: 50px 0;
}
.podcast-container .podcast-contant h2{
    font-size: 48px;
}
.podcast-container .podcast-contant p{
    line-height: 30px;
    font-size: 16px;
    padding: 0 152px;
    margin-top: 20px;
}
.podcast-container .podcast-contant span{
    margin-top: 20px;
    display: block;
}
hr{
    width: 75%;
    margin: auto;
}

.podcast-info-container{
    max-width: 75%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    gap: 80px;
    
}
.podcast-info-container .podcast-info{
    text-align: center;
    margin-top: 80px;
}
.podcast-info-container .podcast-info h3{
    margin-bottom: 16px;
    font-size: 48px;
    color: #00FF88;
}
.podcast-info-container .podcast-info p{
    font-style: 16px;
    margin-bottom: 120px;
}

@media screen and (max-width:576px) {
    .header-container{
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    }
    .header-container .nav-part .menu{
    display: none;   
    }
    .header-container .button-part button{
        display: none;
    }
    .humburger{
    position: static;
    display: block;  
    }
    .hero-container{
    background-size: calc(100%) calc(90%);
    max-width: 576px;
    padding: 40px 20px;
    }
    .hero-container .hero-content h2{
    font-size: 40px;
    }
    .hero-container .hero-content p{
        padding: 0 60px;
    }
    .circle-div{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-image: url(./assets/hero-circle.png);
    background-size: cover;
    margin: auto;
}
.circle-div img{
    height: auto;
    width: 80px;
}
.circle-div img{
    margin-top: 40px;
}
.podcast-container .podcast-contant{
    max-width: 576px;
    padding: 40px 20px;
}
.podcast-container .podcast-contant h2{
    font-size: 35px;
}
.podcast-container .podcast-contant p{
    line-height: 20px;
    font-size: 12px;
    padding: 0;
    margin-top: 15px;
}
.podcast-container .podcast-contant span{
    margin-top: 10px;
    font-size: 12px;
    display: block;
}
hr{
    width: 90%;
    margin: auto;
}
.podcast-info-container{
    max-width: 90%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    
}
.podcast-info-container .podcast-info{
    text-align: center;
    margin-top: 20px;
}
.podcast-info-container .podcast-info h3{
    margin-bottom: 5px;
    font-size: 35px;
}
.podcast-info-container .podcast-info p{
    margin-bottom: 20px;
}
}